<div class="container">
  <h1>{{ titulo }}</h1>

  <h2>{{ prueba }}</h2>

  <button class="btn btn-info" type="button" [routerLink]="['/productos/form']"> Nuevo Producto </button>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">VALOR</th>
        <th scope="col">OPCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <th scope="row">{{ producto.id }}</th>
        <td>{{ producto.name }}</td>
        <td>{{ producto.valor }}</td>
        <td>
          <button type="button" name="detalle" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></button>
          <button type="button" name="editar" class="btn btn-primary" [routerLink]="['/productos/form', producto.id]"><i class="fa-solid fa-pen"></i></button>
          <button type="button" name="delete" class="btn btn-danger" (click)="delete(producto)"><i class="fa-solid fa-trash-can"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
